/* RESET */
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 1000px;
    background-color: azure;
    margin: auto;
}

/* TYPOGRAPHY */

body{
    font-family: 'Fredoka', sans-serif;
}

/* OTHER */

h1{
    text-align: center;
    color:#E53170;
}

p{
    text-align: center;
}

.colonna-team{
    width: calc(33,33%-30px);
    background-color: #E53170;
}