/* RESET */
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* TYPOGRAPHY */

body{
    font-family: 'Fredoka', sans-serif;
}

/* OTHER */

h1{
    text-align: center;
    color:#E53170;
}

p{
    text-align: center;
}

h4{
    margin-top: 0;
    margin-bottom: 0px;
    
}

.colonna-team{
    width: calc(33.33% - 20px);
    background-color:black;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.team-text{
    float: left;
    color: white;
    line-height: 30px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: middle;
}

img{
    float: left;
    max-width: 100px;
}

.mail{
    color: rgb(82, 171, 201);
    text-decoration: none;
}

